<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tech-espm.github.io/" />
    <meta property="og:title" content="Brownis" />
    <meta property="og:site_name" content="Brownis" />
    <meta property="og:description" content="Brownis" />
    <meta property="og:image" content="https://tech-espm.github.io/assets/screenshot.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta name="author" content="Brownis" />
    <meta name="description" content="Brownis" />
    <meta name="keywords" content="brownie, brownis" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Brownis" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicons/favicon-512x512.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicons/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="Shortcut Icon" href="/favicons/favicon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#222222" />

    <title>Brownis</title>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-1.0.22.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="lib/jquery/jquery-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-waypoints/js/jquery-waypoints-4.0.0.js"></script>
    <script type="text/javascript" src="lib/jquery-rcounter/js/jquery-rcounter-1.0.0.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>

    <style type="text/css">

        html, body {
            min-height: 100%;
            height: 100%;
        }

        body {
            background: white;
        }

        header {
            height: 100%;
            min-height: 400px;
            background-image: url(images/fundo.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: cover;
            padding-top: 200px;
            text-align: center;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        }

        #secaoA {
            padding: 100px 15px;
        }

        #secaoB {
            padding: 150px 0px 100px;
			background-color: #f25c5c;
			background-image: url(images/divisao.png);
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 100%;
        }

        footer {
            padding: 150px 0px 100px;
			background-color: black;
			background-image: url(images/divisao2.png);
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 100%;
			color: #999999;
		}

		.conteudo {
			margin: 0px auto;
			max-width: 1200px;
		}

		.item {
			background-color: #f7d2d2;
			box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
			border-radius: 4px;
			padding: 20px;
			margin: 0px 0px 30px;
		}
		
    </style>
</head>
<body>

    <header>

        <h1>Brownis!!!</h1>

    </header>

    <section id="secaoA">

        <div class="conteudo">
            <h1>
                Quem sou eu?
            </h1>
    
            <p>
                Eu sou a Thais isso é um teste! Desenvolvi minha marca 
            </p>

            <h1>
                Brownis vendidos até hoje
                <br />
                <span id="spanVendidos">500</span>
            </h1>
        </div>

    </section>

    <section id="secaoB">

        <div class="conteudo">
			
			<div class="container-fluid">
				<div class="row">

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="item">
							<h2>Um item</h2>
							<p>Um texto</p>
						</div>
					</div>

				</div>
			</div>

        </div>

    </section>

    <footer>
		<div class="conteudo">
			<p>
				Fim!
			</p>
		</div>
    </footer>

    <script type="text/javascript">

        $("#spanVendidos").rCounter({
            duration: 100
        });

    </script>

</body>
</html>
