<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tech-espm.github.io/" />
    <meta property="og:title" content="Brownis" />
    <meta property="og:site_name" content="Brownis" />
    <meta property="og:description" content="Brownis" />
    <meta property="og:image" content="https://tech-espm.github.io/assets/screenshot.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta name="author" content="Brownis" />
    <meta name="description" content="Brownis" />
    <meta name="keywords" content="brownie, brownis" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Brownis" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicons/favicon-512x512.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicons/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="Shortcut Icon" href="/favicons/favicon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#222222" />

    <title>Brownis</title>

    <link href="https://fonts.googleapis.com/css?family=Caveat|Comic+Neue|Indie+Flower&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-1.0.22.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script type="text/javascript" src="/lib/jquery/jquery-1.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/parallax/js/parallax-1.5.0.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-mask/js/jquery-mask-1.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-validate/js/jquery-validate-1.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-validate/js/messages_pt_BR.min.js"></script>
</head>

<body>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erro</h4>
                </div>
                <div class="modal-body text-center">
                    Por favor, escolha ao menos um brownie para enviar o pedido. 😉
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Enviado</h4>
                </div>
                <div class="modal-body text-center">
                    Pedido enviado com sucesso! 😍
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erro</h4>
                </div>
                <div class="modal-body text-center">
                    Infelizmente ocorreu um erro ao enviar o pedido. Por favor, tente novamente dentro de alguns instantes&hellip; 😢
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <header>
        <h1>Que nossa doçura seja constante!</h1>
        <img src="images/logo.svg" alt="logo" height="150px" width="150px" class="logo">
    </header>
    <section id="secaoA" class="vidro">
        <div class="conteudo">
            <h2 class="centralizar margin1">
                Brownis vendidos até hoje
                <br />
                <span id="spanVendidos">500</span>
            </h2>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="fundo1">

            </div>
        </div>
    </div>

    <section class="fundo2">
        <div class="conteudo">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="titulo">
                        Como tudo começou...
                    </h2>
                    <p class="paragrafo">
                        A culinária sempre foi um dos passatempos o qual sou apaixonada. Aos 18 anos, ao ingressar na faculdade, decidi que iria encontrar uma renda extra para arcar com meus custos, ao menos os de lazer, sem depender dos meus pais. Fiquei algumas semanas analisando
                        qual seria o produto ideal para atrair meu público alvo, universitários, e que eu poderia fazer com excêlencia. Optei por uma sobremesa de chocolate típica da culinária dos Estados Unidos, o BROWNIE. Um bolo feito num tabuleiro
                        para bolos e partido em pequenos quadrados, simples e deliciosos. E por fim, acrescentei um toque brasileiro, adicionando diferentes sabores aos meus deliciosos BROWNIS.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="secaoC">

        <div class="conteudo">

            <div class="container-fluid">
                <h2>Sabores</h2>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="item ">
                            <h3>Tradicional</h3>
                            <p class="centralizar tamanho">R$5,00</p>
                            <div class="frente1"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item ">
                            <h3>Tradicional com nozes</h3>
                            <p class="centralizar tamanho">R$5,00</p>
                            <div class="frente4"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>M&M's</h3>
                            <p class="centralizar tamanho">R$5,00</p>
                            <div class="frente3"></div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Oreo</h3>
                            <p class="centralizar tamanho">R$5,00</p>
                            <div class="frente2"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Chocolate Branco</h3>
                            <p class="centralizar tamanho">R$5,00</p>
                            <div class="frente5"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Nutella</h3>
                            <p class="centralizar tamanho">R$6,00</p>
                            <div class="frente6"></div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Limão</h3>
                            <p class="centralizar tamanho">R$6,00</p>
                            <div class="frente7"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Bicho de Pé</h3>
                            <p class="centralizar tamanho">R$6,00</p>
                            <div class="frente8"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <h3>Beijinho</h3>
                            <p class="centralizar tamanho">R$6,00</p>
                            <div class="frente5"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section class="fundo2">
        <form class="conteudo" id="form">
            <div class="container-fluid">
                <h2 class="titulo">
                    Faça sua encomenda
                </h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="telefone" name="telefone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" id="bairro" name="bairro" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco" class="form-control" />
                </div>
            </div>

            <hr />

            <h2 class="titulo">
                Quantidades
            </h2>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="tradicional">Tradicional</label>
                            <input type="number" value="0" min="0" id="tradicional" name="tradicional" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="nozes">Nozes</label>
                            <input type="number" value="0" min="0" id="nozes" name="nozes" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="mem">M&M's</label>
                            <input type="number" value="0" min="0" id="mem" name="mem" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="oreo">Oreo</label>
                            <input type="number" value="0" min="0" id="oreo" name="oreo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="branco">Branco</label>
                            <input type="number" value="0" min="0" id="branco" name="branco" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="nutella">Nutella</label>
                            <input type="number" value="0" min="0" id="nutella" name="nutella" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="limao">Limão</label>
                            <input type="number" value="0" min="0" id="limao" name="limao" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bichope">Bicho de pé</label>
                            <input type="number" value="0" min="0" id="bichope" name="bichope" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="beijinho">Beijinho</label>
                            <input type="number" value="0" min="0" id="beijinho" name="beijinho" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-right">
                            <img id="imgLoader" src="/images/loader.gif" style="display: none;" />
                            <button class="btn btn-danger btn-lg" type="submit">Enviar Pedido!</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </section>

    <footer>
        <div class="conteudo redessociais">
            <img src="/images/insta.png" alt="insta" height="45px" width="45px">
            <img src="/images/facebook.png" alt="face" height="50px" width="50px">
            <img src="/images/logo-whatsapp-png.png" alt="whats" height="50px" width="50px">
        </div>
    </footer>
    <div class="final">
    </div>

    <script type="text/javascript">
        var spMaskBehavior = function(val) {
                return val.replace(/\D/g, '').length === 11 ? "(00) 00000-0000" : "(00) 0000-00009";
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(spMaskBehavior.apply({}, arguments), options);
                }
            };
        $("#telefone").mask(spMaskBehavior, spOptions);

        var jaComecou = false,
            valorAtual = 0,
            valorMaximo = 500,
            spanVendidos = document.getElementById("spanVendidos"),
            secaoA = document.getElementById("secaoA");

        function contar() {
            var incremento = 1 + Math.round(Math.random() * 10);
            valorAtual = valorAtual + incremento;
            if (valorAtual >= valorMaximo) {
                valorAtual = valorMaximo;
            } else {
                setTimeout(contar, 20);
            }
            spanVendidos.textContent = valorAtual;
        }

        function validarContador() {
            if (jaComecou) {
                return;
            }

            if ((secaoA.offsetTop - window.scrollY - window.innerHeight) <= -200) {
                jaComecou = true;
                setTimeout(contar, 20);
            }
        }

        $("#form").validate({
            rules: {
                nome: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                telefone: {
                    required: true
                },
                bairro: {
                    required: true
                },
                endereco: {
                    required: true
                },
                tradicional: {
                    required: true,
                    number: true,
                    min: 0
                },
                nozes: {
                    required: true,
                    number: true,
                    min: 0
                },
                mem: {
                    required: true,
                    number: true,
                    min: 0
                },
                oreo: {
                    required: true,
                    number: true,
                    min: 0
                },
                branco: {
                    required: true,
                    number: true,
                    min: 0
                },
                nutella: {
                    required: true,
                    number: true,
                    min: 0
                },
                limao: {
                    required: true,
                    number: true,
                    min: 0
                },
                bichope: {
                    required: true,
                    number: true,
                    min: 0
                },
                beijinho: {
                    required: true,
                    number: true,
                    min: 0
                }
            },
            submitHandler: function(form) {
                if ($.active) {
                    return;
                }

                if (!parseInt($("#tradicional").val()) &&
                    !parseInt($("#nozes").val()) &&
                    !parseInt($("#mem").val()) &&
                    !parseInt($("#oreo").val()) &&
                    !parseInt($("#branco").val()) &&
                    !parseInt($("#nutella").val()) &&
                    !parseInt($("#limao").val()) &&
                    !parseInt($("#bichope").val()) &&
                    !parseInt($("#beijinho").val())) {
                    $("#myModal").modal({
                        keyboard: true,
                        backdrop: true
                    });
                    return;
                }
                $("#imgLoader").show();

                $.ajax({
                    url: "/api/pedido/enviar",
                    method: "POST",
                    data: $(form).serialize(),
                    success: function(data) {
                        $("#imgLoader").hide();

                        if (data === true) {
                            $("#myModal2").modal({
                                keyboard: true,
                                backdrop: true
                            });
                        } else {
                            $("#myModal3").modal({
                                keyboard: true,
                                backdrop: true
                            });
                        }
                    },
                    error: function() {
                        $("#imgLoader").hide();

                        $("#myModal3").modal({
                            keyboard: true,
                            backdrop: true
                        });
                    }
                });
            }
        });

        window.onscroll = validarContador;
    </script>

</body>

</html>